<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="OracleFRP"
         providerName="Oracle.DataAccess.Client"
         connectionString="Data Source=AHMDEV;user id=FINANCE;Password=123@xmzz" />
    <add name="SqlFRP"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Initial Catalog=FRP;Integrated Security=true;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>