<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="OracleFRP"
         providerName="Oracle.DataAccess.Client"
         connectionString="Data Source=jwtestdb;user id=qar_adm;Password=qar123abc" />
    <add name="SqlFRP"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Database=FRP;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0;Pooling=true;Max Pool Size=200;Min Pool Size=0" />
  </connectionStrings>
</configuration>