<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CommonServiceDataService" value="http://192.168.1.117:9001/CommonServiceDataService.svc" />
    <add key="BaseManagementDataService" value="http://192.168.1.117:9002/BaseManagementDataService.svc" />
    <add key="AircraftConfigDataService" value="http://192.168.1.117:9003/AircraftConfigDataService.svc" />
    <add key="FlightLogDataService" value="http://192.168.1.117:9004/FlightLogDataService.svc" />
    <add key="FleetPlanDataService" value="http://192.168.1.117:9005/FleetPlanDataService.svc" />
    <add key="PurchaseDataService" value="http://192.168.1.117:9006/PurchaseDataService.svc" />
    <add key="PaymentDataService" value="http://192.168.1.117:9007/PaymentDataService.svc" />
    <add key="ProjectDataService" value="http://192.168.1.117:9008/ProjectDataService.svc" />
    <add key="PortalDataService" value="http://192.168.1.117:9009/PortalDataService.svc" />
    <add key="PartDataService" value="http://192.168.1.117:9010/PartDataService.svc" />
    <add key="AuthenticationService" value="http://192.168.1.117:9002/AuthenticationService.svc" />
  </appSettings>
</configuration>