<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<限定报表导出格式 >-->
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Processing.Config.ReportingConfigurationSection, Telerik.Reporting, Version=7.2.13.1016, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <Telerik.Reporting>
    <Extensions>
      <Render>
        <Extension name="IMAGE" visible="false"/>
        <Extension name="PDF" visible="true" description="PDF文档" />
        <Extension name="HTML" visible="false"/>
        <Extension name="MHTML" visible="false"/>
        <Extension name="CSV" visible="false">
          <Parameters>
            <Parameter name="NoHeader" value="true"/>
            <Parameter name="NoStaticText" value="true"/>
          </Parameters>
        </Extension>
        <Extension name="XLS" visible="false"/>
        <Extension name="RTF" visible="true" description="RTF文档"/>
        <Extension name="XPS" visible="true" description="XPS文档"/>
        <Extension name="DOCX" visible="true" description="Word文档"/>
        <Extension name="XLSX" visible="true" description="Excel工作表"/>
        <Extension name="PPTX" visible="true" description="PPT演示文稿"/>
      </Render>
    </Extensions>
  </Telerik.Reporting>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service
              name="Telerik.Reporting.Service.ReportService"
              behaviorConfiguration="ReportServiceBehavior">
        <endpoint
               address=""
               binding="basicHttpBinding"
               contract="Telerik.Reporting.Service.IReportService">
        </endpoint>
        <endpoint
                address="resources"
                binding="webHttpBinding"
                behaviorConfiguration="WebBehavior"
                contract="Telerik.Reporting.Service.IResourceService"/>
        <endpoint
                address="mex"
                binding="mexHttpBinding"
                contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="PurchaseDataService" value="http://localhost:20059/PurchaseDataService.svc"/>
    <add key="PaymentDataService" value="http://localhost:20109/PaymentDataService.svc" />
    <add key="CommonServiceDataService" value="http://localhost:20074/CommonServiceDataService.svc"/>
    <add key="FleetPlanDataService" value="http://localhost:20102/FleetPlanDataService.svc"/>
    <add key="ProjectDataService" value="http://localhost:20113/ProjectDataService.svc"/>
    <add key="AircraftConfigDataService" value="http://localhost:20088/AircraftConfigDataService.svc"/>
    <add key="PartDataService" value="http://localhost:11052/PartDataService.svc"/>
  </appSettings>
</configuration>
