<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="sl50" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="sl50" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="sl50" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="sl50" />
  <package id="Prism" version="4.1.0.0" targetFramework="sl50" />
  <package id="Prism.MEFExtensions" version="4.1.0.0" targetFramework="sl50" />
  <package id="System.Spatial" version="5.6.0" targetFramework="sl50" />
  <package id="Telerik.Pivot.Core" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Chart" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Data" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.DataServices50" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.DataVisualization" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Docking" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.FixedDocumentViewers" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.FixedDocumentViewersUI" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.GanttView" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.GridView" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Input" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Navigation" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Pivot" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.PivotFieldList" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.RibbonView" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.RichTextBoxUI" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.ScheduleView" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Spreadsheet" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Data" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Core" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Core" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Fixed" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Fixed" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Flow" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.FormatProviders.Html" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.FormatProviders.MsRichTextBoxXaml" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.FormatProviders.OpenXml" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.FormatProviders.Pdf" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Proofing" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Spreadsheet" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Scheduling.Core" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Themes.Windows8" version="2.0.1" targetFramework="sl50" />
  <package id="Telerik.Windows.Zip" version="2.0.1" targetFramework="sl50" />
</packages>