<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="PurchaseDataService" value="http://localhost:20059/PurchaseDataService.svc"/>
    <add key="PaymentDataService" value="http://localhost:20119/PaymentDataService.svc" />
    <add key="CommonServiceDataService" value="http://localhost:20074/CommonServiceDataService.svc"/>
    <add key="FleetPlanDataService" value="http://localhost:20102/FleetPlanDataService.svc"/>
    <add key="ProjectDataService" value="http://localhost:20113/ProjectDataService.svc"/>
    <add key="AircraftConfigDataService" value="http://localhost:20088/AircraftConfigDataService.svc"/>
    <add key="PartDataService" value="http://localhost:11052/PartDataService.svc"/>
    <add key="BaseManagementDataService" value="http://localhost:20082/BaseManagementDataService.svc"/>
  </appSettings>
</configuration>