<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="sl50" />
  <package id="Prism" version="4.1.0.0" targetFramework="sl50" />
  <package id="Prism.MEFExtensions" version="4.1.0.0" targetFramework="sl50" />
  <package id="Telerik.ReportViewer.Silverlight" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Chart" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Data" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.DataServices50" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.DataVisualization" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Docking" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.GridView" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Input" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.Navigation" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Controls.ScheduleView" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Data" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Themes.Windows8" version="2.0.0" targetFramework="sl50" />
  <package id="Telerik.Windows.Zip" version="2.0.0" targetFramework="sl50" />
</packages>