<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SqlAmasis" providerName="System.Data.SqlClient" connectionString="DataSource=172.18.8.117; Database=Ifr;UserId=amasisfull;Password=amasisfull;" />
    <add name="OracleFRP" providerName="Oracle.DataAccess.Client" connectionString="Data Source=jwtestdb;user id=qar_adm;Password=qar123abc" />
    <add name="SqlFRP" providerName="System.Data.SqlClient" connectionString="Server=.;Database=FRP;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0;Pooling=true;Max Pool Size=200;Min Pool Size=0" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseType" value="Sql" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>